extend layout

block content
  link(rel="stylesheet", href="/css/lib/bootstrap-tags.css")
  link(rel="stylesheet", href="/css/instructor.css")

  //- h1 Greetings, Instructor #{username}!
  div.sidebar
    div.sidebar-link.new-question.active
      a.plus(href="#")
        i.fa.fa-plus
    div.sidebar-link.question-list.inactive
      a.list(href="#")
        i.fa.fa-list
    div.sidebar-link.analytics.inactive
      a.bar-chart(href="#")
        i.fa.fa-bar-chart

  div#dashboard

  script(type="text/x-handlebars-template" id="new-question-template")
    button#Modal.btn.btn-default(type="button") Modal


    h1 Insert New Question
    div.error
    div.success
    form.new-question
      textarea.content(name="question" placeholder="Question" rows="6")
      div.autocomplete-panel
      //- textarea.content(name="answer" placeholder="Answer" rows="6")
      input.concept-tags(placeholder="Tags")
      div#figures
      button.btn.btn-default Preview
      button.btn.btn-default Submit

    div#marvinjs.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true")
                &times;
            h4.modal-title#myModal Insert Structure
          div.modal-body
            div#structure-tools
              iframe(id="sketch" src="/js/lib/marvinjs/editor.html" style="width:100%;")
              div
                button#insert.btn.btn-default Insert
                button#delete.btn.btn-default Delete
                button.btn.btn-default Cancel
              div





  script(type="text/x-handlebars-template" id="questions-list-template")
    h1 Questions List
    table.table.table-hover.table-bordered
      tr
        th Content
        th Concepts
        th Correct
        th Responses
      {{#each questions}}
      tr
        td {{content}}
        td {{concepts}}
        td {{numCorrect}}
        td {{numResponses}}
      {{/each}}


  script(type="text/x-handlebars-template" id="analytics-template")
    h1 Analytics


  script(type="text/x-handlebars-template" id="autocomplete-panel-template")
    div.autocomplete-options
      div.autocomplete-option.active
        p.autocomplete-option-label New Structure

  script(type="text/x-handlebars-template" id="autocomplete-option-template")
    div.autocomplete-option
      p.autocomplete-option-label {{structure.tag}}

  script(type="text/x-handlebars-template" id="concept-tag-template")
    div.concept-tag
      span.concept {{concept}}
      a.remove
        i.fa.fa-remove

  script(src="/js/lib/bootstraptags.min.js")
  script(src="/js/lib/jquery.caret.min.js")

  script(src="/js/instructor-model.js")
  script(src="/js/instructor-view.js")
