.sidebar {
  width: 28px;
  display: table-cell;
  vertical-align: top;
}

.sidebar-link {
  display: block;
  text-align: center;
  padding: 3px;
}

.sidebar-link.inactive {
  border-right: 1px solid #bbb;
  border-left: 4px solid transparent;
}

.sidebar-link.active {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 4px solid #ffa07a;
  border-right: none;
}


.inactive > a{
  color: #bbb;
  text-decoration: none;
}

.active > a {
  color: #666;
  text-decoration: none;
}

a:hover, a:focus {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

#dashboard {
  width: 100%;
  min-height: 100%;
  /*background-color: red;*/
  display: table-cell;
  padding: 0px 25px;
}

#dashboard h1 {
  font-size: 2em;
  margin: 0px;
}

#dashboard .new-question {
  padding-top: 10px;
}

#dashboard .divider {
  background-color: #eee;
  width: 100%;
  height: 4px;
}

#new-question-form {
  position: relative;
}
div.entry {
  margin-bottom: 10px;
}
textarea.content {
  margin: 0px;
  display: block;
  width: 100%;
  padding: 8px;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
textarea.content:focus {
  outline: none;
}


.autocomplete-panel {
  margin: 0px;
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(203,203,203,0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(203,203,203,0.75);;
  box-shadow: 0px 5px 15px 0px rgba(203,203,203,0.75);
}

.autocomplete-option.active {
  background-color: red;
}

.autocomplete-option {
  padding: 2px 4px;
}
.concept-tags-container {
  width: 480px;
  border: 1px solid #a9a9a9;
  padding: 5px;
  margin: 10px 0px;
  overflow: auto;
}

.concept-tag {
  border: 1px solid #a9a9a9;
  padding: 0px 5px;
  float: left;
  margin: 2px;
  background-color: #eee;
}

.concept {
  margin-right: 3px;
}

a.remove {
  color: #bbb;
  text-decoration: none;
}

a.remove:hover {
  color: #666;
  text-decoration: none;
}

.bordered {
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}

.bordered:hover {
  border-width: 2px;
  border-style: solid;
  margin: 1px;
}

.test {
  border: 1px solid red;
}


